<mat-card class="main-card">
    <mat-card-title class="main-title"> 
      Smoked Leather Creation
    </mat-card-title>
    
    <mat-toolbar>
      <button mat-button [matMenuTriggerFor]="menu1" class="main-menu">Designs</button>
      <mat-menu #menu1="matMenu">
        <button routerLink="/wallet-designs" mat-menu-item class="main-menu">Wallets</button>
        <button routerLink="/bag-designs" mat-menu-item class="main-menu">Bags</button>
        <button routerLink="/hair-designs" mat-menu-item class="main-menu">Hair jewelery</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu2" class="main-menu">About Us</button>
      <mat-menu #menu2="matMenu">
        <button routerLink="/products" mat-menu-item class="main-menu">Our products</button>
        <button routerLink="/workshop" mat-menu-item class="main-menu">Our workshop</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu3" class="main-menu">Contact</button>
      <mat-menu #menu3="matMenu">
        <button routerLink="/order-form" mat-menu-item class="main-menu">Order form</button>
        <button routerLink="/informations" mat-menu-item class="main-menu">Informations</button>
      </mat-menu>
    </mat-toolbar>

  <router-outlet>  
  </router-outlet>
</mat-card>


