<div class="tabs-group">
  <mat-tab-group>
    <mat-tab label="Katowice, Poland">
      <div class="contact-info">
        Smoked Leather Creation Workshop<br>
        ul. Jakaśtam Gdzieś 12,<br>
        40-080 Katowice
      </div>
    </mat-tab>
    <mat-tab label="Birmingham, England">
      <div class="contact-info">
        Smoked Leather Creation Shipping Center<br>
        223C Whatever Street<br>
        35005 Birmingham
      </div>
    </mat-tab>
    <mat-tab label="Contacts">
      <div class="contact-info">
          <p><mat-icon>call</mat-icon> 777 777 777 <br>
          <mat-icon>email</mat-icon> smokedleather@slc.com<br>
          <mat-icon>people</mat-icon> <a class="fb-link" href="https://www.facebook.com/smokedleathercreation/">SmokedLeatherCreation</a><br></p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>